@{
    ViewBag.Title = ViewBag.myCourse.courseCode + " " + ViewBag.myCourse.classNumber;
    //int buttonId = 0;
}
<div class="text-center">
    <h1>Catedra: @ViewBag.myCourse.courseCode</h1>
    <h2>Grupo: @ViewBag.myCourse.classNumber</h2>
</div>

<table class="table ">

    <tr>

        <th>Número de Carné</th>

        <th>Nombre completo </th>

        <th>Opciones</th>

    </tr>



    @foreach (var student in ViewBag.myCourse.studentList)
    {

        <tr>
            <td>@student.id </td>
            <td>@student.firstName @student.firstLastName @student.secondLastName </td>
            <td>
                <input type="button" class="btn-info" value="Ver notas" />
                <input type="button" class="btn-danger" id="ver" value="Evaluar" />
            </td>
        </tr>

    }

</table>


<div>
    <div id="vtn-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h1>Aquí van a estar los tipos de evaluaciones</h1>
            <form>
                <h5>Esto es una demo (no hace ninguna verificación)</h5>
                <label>Parcial I</label>
                <input type="number" placeholder="Escriba la nota" /> <br />
                <label>Parcial II</label>
                <input type="number" placeholder="Escriba la nota" /> <br />
                <input type="submit" class="btn btn-success" value="Calificar" />
                <input type="reset" class="btn btn-danger" value="Calificar" />
            </form>
        </div>

    </div>
</div>

<script src="~/js/Modal.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/Modal.css" />