@model EvaluacionesEMATEAplicada.Models.CourseModel
@{
    ViewBag.Title = ViewBag.myCourse.courseCode + " " + ViewBag.myCourse.classNumber;
}
<div class="text-center">
    <h1>Catedra: @ViewBag.myCourse.courseCode</h1>
    <h2>Grupo: @ViewBag.myCourse.classNumber</h2>
    <a class="btn btn-danger" href="#"> Volver al listado de cursos </a>
    <a class="btn btn-info" href="#"> Ver resumen de resultado de este grupo </a>
    <hr />

</div>

<table class="table ">

    <tr>

        <th>Número de Carné</th>

        <th>Nombre completo </th>

        <th>Opciones</th>

    </tr>



    @foreach (StudentModel student in ViewBag.myCourse.studentList)
    {

        <tr>
            <td>@student.id </td>
            <td>@student.firstName @student.firstLastName @student.secondLastName </td>
            <td>
                <form asp-action="ModifyEvalutionOf" method="post">
                    <div class="form-group">
                            <input type="hidden" name="type" value="@Model.evaluationsSetType" />
                            <input type="hidden" name="courseCode" value="@Model.courseCode" />
                            <input type="hidden" name="classNumber" value="@Model.classNumber" />
                            <input type="hidden" name="studentId" value="@student.id" />
                            <input type="submit" class="btn btn-success" value="Evaluar" />
                    </div>
                </form>
            </td>
        </tr>

    }

</table>

<script src="~/js/Modal.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/Modal.css" />

